<!DOCTYPE HTML>
<html xmlns:layout="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}"
      xmlns:th="https://www.thymeleaf.org">
<div layout:fragment="content" class="container">
    <div class="jumbotron">

<h1 class="display-4 my-font" th:text="${greeting}"></h1>

        <p> เบอร์โทรติดต่อ:098-999-5632 </p>
         หากยังไม่เป็นสมาชิก,กรุณา <a th:href="@{/user}">register</a>
        <h3> กติกา ก่อนจองและก่อนใช้สนาม </h3>
        <p> 1. การจอง สนามแบดมินตันจะจองได้ “วันต่อวันเท่านั้น” (ห้ามจองข้ามวัน) เพื่อเปิดโอกาสให้ทุกคนได้ใช้สนามเท่าเทียมกัน </p>
        <p> 2. ต้องชำระเงินค่าสนาม ก่อนเข้าเล่นอย่างน้อย 15 นาที</p>
        <p> 3. ลูกค้าที่จองหลายสนาม ต้องชำระเงินทุกสนามที่จองทั้งหมดทันที ก่อนเข้าใช้บริการในสนาม</p>
        <p> 4. ศูนย์กีฬาขอสงวนสิทธิ์ในการยกเลิกการจองสนามของลูกค้าที่ไม่ชำระเงินก่อนเข้าเล่น หรือ ไม่ตรงเวลานัดหมายตามวันเวลาที่จองไว้</p>
        </p>
    </div>
</div>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">9.00-10.00</th>
        <th scope="col">10.00-11.00</th>
        <th scope="col">11.00-12.00</th>
        <th scope="col">12.00-13.00</th>
        <th scope="col">13.00-14.00</th>
        <th scope="col">14.00-15.00</th>
        <th scope="col">15.00-16.00</th>
        <th scope="col">16.00-17.00</th>
        <th scope="col">17.00-18.00</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
    </tr>
    <tr>
        <th scope="row">3</th>
        <td colspan="2">Larry the Bird</td>
        <td>@twitter</td>
    </tr>
    </tbody>
</table>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>

</body>
</html>
